/* =================
====================
===DROPDOWN STYLE===
====================
==================== */

/* ///  DECORATION CSS ///  */
.cont_select_center {
   position: absolute;
   left: 20%;
   top: 20%;
   margin-top: -30px;
   margin-left: -150px;
 }
 
 /* ///  END DECORATION CSS  ///  */
 .icon_select_mate {
   position: absolute;
   top: 6px;
   right: 12px;
   height: 22px;
   transition: all 275ms;
 }
 
 .select_mate {
   position: relative;
   float: left;
   width:100%;
   background-color: #fff;
   transition: all 375ms ease-in-out;
   /* Oculto el elemento select */
 }
 .select_mate select {
   position: absolute;
   overflow: hidden;
   height: 0px;
   opacity: 0;
   z-index: -1;
   text-transform: uppercase;
 }
 
 .cont_list_select_mate {
   position: relative;
   float: left;
   width: 100%;
 }
 
 .cont_select_int {
   position: absolute;
   left: 0px;
   top: 0px;
   z-index: 999;
   overflow: hidden;
   height: 100%;
   width: 100%;
   background-color: #fff;
   padding: 0px;
   margin-bottom: 0px;
   margin-top: 0px;
   transition: all 375ms ease-in-out;
   
 }
 .cont_select_int li {
   position: relative;
   float: left;
   width: 100%;
   font-size: 0.84em;
   list-style-type: none;
   padding: 10px 18px;
   margin: 0px;
   transition: all 275ms ease-in-out;
   display: block;
   cursor: pointer;
   border-left: 1px solid #dedede;
   border-right: 1px solid #dedede;   
 }
 .cont_select_int li:last-child {
   border-radius: 3px;
   border-bottom: 1px solid #dedede;
 }
 .cont_select_int li:hover {
   background-color: #e8eff7;
 }
 .cont_select_int .active {
   background-color: #e8eff7;
 }
 .icon_select_mate{
    cursor: pointer;
 }
 /* etiqueta <p> con la opcion selecionada  */
 .selecionado_opcion {
   padding: 12px 8px 12px 16px;
   width: 100%;
   display: block;
   margin: 0px;
   cursor: pointer;
 }

