/* =================
====================
===DROPDOWN STYLE===
====================
==================== */

/* ///  DECORATION CSS ///  */
.cont_select_center {
   position: absolute;
   left: 20%;
   top: 20%;
   margin-top: -30px;
   margin-left: -150px;
 }
 
 /* ///  END DECORATION CSS  ///  */
 .icon_select_mate {
   position: absolute;
   top: 6px;
   right: 12px;
   height: 22px;
   transition: all 275ms;
 }
 
 .select_mate {
   position: relative;
   float: left;
   width:100%;
   background-color: #fff;
   transition: all 375ms ease-in-out;
   /* Oculto el elemento select */
 }
 .select_mate select {
   position: absolute;
   overflow: hidden;
   height: 0px;
   opacity: 0;
   z-index: -1;
   text-transform: uppercase;
 }
 
 .cont_list_select_mate {
   position: relative;
   float: left;
   width: 100%;
 }
 
 .cont_select_int {
   position: absolute;
   left: 0px;
   top: 0px;
   z-index: 999;
   overflow: hidden;
   height: 100%;
   width: 100%;
   background-color: #fff;
   padding: 0px;
   margin-bottom: 0px;
   margin-top: 0px;
   transition: all 375ms ease-in-out;
   
 }
 .cont_select_int li {
   position: relative;
   float: left;
   width: 100%;
   font-size: 0.84em;
   list-style-type: none;
   padding: 10px 18px;
   margin: 0px;
   transition: all 275ms ease-in-out;
   display: block;
   cursor: pointer;
   border-left: 1px solid #dedede;
   border-right: 1px solid #dedede;   
 }
 .cont_select_int li:last-child {
   border-radius: 3px;
   border-bottom: 1px solid #dedede;
 }
 .cont_select_int li:hover {
   background-color: #e8eff7;
 }
 .cont_select_int .active {
   background-color: #e8eff7;
 }
 .icon_select_mate{
    cursor: pointer;
 }
 /* etiqueta <p> con la opcion selecionada  */
 .selecionado_opcion {
   padding: 12px 8px 12px 16px;
   width: 100%;
   display: block;
   margin: 0px;
   cursor: pointer;
 }


 /* =================
====================
====NUMBER STYLE====
====================
==================== */
/* input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
} */

.number-input {
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 52px;
  width: 107px; */
}

/* .number-input,
.number-input * {
  box-sizing: border-box;
} */
/* 
.number-input button {
  outline: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  width: 20px;
  height: 18px;
  cursor: pointer;
  margin: 0;
  position: relative;
  border: 1px solid #ddd;
  display: block;
  border-bottom: 0;
  border-left: 0;
  border-radius: 0 4px 0 0;
  left: -18px;
}
.number-input button.plus {
  border-bottom: 1px solid #ddd;
  border-radius: 0 0 4px 0;
}

.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: '';
  width: 0.3em;
  height: 1px;
  left: 10px;
  background-color: #b9babb;
  transform: translate(-50%, -50%) rotate(45deg);
}

.number-input button:before {
  left: 7px;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.number-input button.plus:before,
.number-input button.plus:after {
  display: inline-block;
  position: absolute;
  content: '';
  width: 0.3em;
  height: 1px;
  left: 7px;
  background-color: #b9babb;
  transform: translate(-50%, -50%) rotate(-135deg);
}

.number-input button.plus:before {
  left: 10px;
  transform: translate(-50%, -50%) rotate(135deg);
} */

.number-input input[type=number] {
  /* max-width: 50px;
  padding: 5px 10px;
  border: 1px solid #ddd;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  border-radius: 4px 0 0 4px; */
}
